@import "../scss/mixins";

.txt-rojo-02 {
  color: $rojo-sorsa-02;
}

.btn-negro-blanco {
  a {
    @include btn-motors(black, black, #fff);
  }
}

.btn-rojo-blanco {
  a {
    @include btn-motors($rojo-sorsa-02, $rojo-sorsa-02, #fff);
  }
}

// .container-bootstrap {
// .elementor-section {
//   > .elementor-container {
//     @media (min-width: 1400px) {
//       max-width: 1320px !important;
//     }
//   }
// }

// Container
.elementor-section.elementor-section-boxed {
  > .elementor-container {
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }
}
