$azul-sorsa: #00509e;
$azul-sorsa-02: #004e8c;
$gris-sorsa-01: #f0f0f0;
$gris-sorsa-02: #e2e2e2;
$gris-sorsa-03: #606060;
$rojo-sorsa-01: #e5141f;
$rojo-sorsa-02: #ff0000;
$amarillo-sorsa: #f7a41d;
$negro-sorsa-01: #1a1a1a;
$negro-sorsa-02: #141414;
// #ff0000