.btn-honda {
  a {
    background-color: #000;
    font-size: 18px;
    padding-block: 18px;
    padding-inline: 30px;
    span {
      font-size: inherit;
    }
  }
  &--main {
    a {
      font-weight: 700;
      background-color: #ff0000;
      color: #fff;
      font-size: 18px;
      padding-block: 18px;
      padding-inline: 30px;
      display: inline-block;
      &:hover {
        background-color: darken(#ff0000, 10%);
      }
    }
  }
}
