#footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 0;

  .list-slugs {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    &__item {
      margin-top: 3px;
    }
    &__link {
      font-size: 18px;
      color: white;
    }
    @media (min-width: 992px) {
      padding-left: 32px;
      margin-top: 30px;
    }
  }

  .col-slugs {
    ul,
    ol {
      padding-left: 0;
      list-style: none;
      margin-top: 20px;
      li {
        margin-top: 3px;
        a {
          font-size: 18px;
          color: white;
        }
      }
      @media (min-width: 992px) {
        padding-left: 32px;
        margin-top: 30px;
      }
    }
  }

  .form-footer-contact {
    &__entrar {
      p {
        display: flex;
      }
      [type="email"] {
        border-radius: initial;
        height: calc(100% + -1px);
      }
      [type="submit"] {
        background-color: $rojo-sorsa-01;
        color: #fff;
        width: 79px;
      }
      .wpcf7-spinner {
        display: none;
      }
    }
  }
}
