#footer {
  background-color: #000;
  padding-block: 50px;

  .list-slugs {
    list-style: none;
    margin-top: 30px;
    &__item {
      margin-top: 3px;
    }
    &__link {
      font-size: 18px;
      color: white;
    }
  }

  .form-footer-contact {
    &__entrar {
      p {
        display: flex;
      }
      [type="email"] {
        border-radius: initial;
        height: calc(100% + -1px);
      }
      [type="submit"] {
        background-color: $rojo-sorsa-01;
        color: #fff;
        width: 79px;
      }
      .wpcf7-spinner {
        display: none;
      }
    }
  }
  // form-footer-contact__entrar
}
