#footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 0;

  .list-slugs {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    &__item {
      margin-top: 3px;
    }
    &__link {
      font-size: 18px;
      color: white;
    }
    @media (min-width: 992px) {
      padding-left: 32px;
      margin-top: 30px;
    }
  }

  .col-slugs {
    ul,
    ol {
      padding-left: 0;
      list-style: none;
      margin-top: 20px;
      li {
        margin-top: 3px;
        a {
          font-size: 18px;
          color: white;
        }
      }
      @media (min-width: 992px) {
        padding-left: 32px;
        margin-top: 30px;
      }
    }
  }

  .form-footer-contact {
    &__entrar {
      p {
        display: flex;
      }
      [type="email"] {
        border-radius: initial;
        height: calc(100% + -1px);
      }
      [type="submit"] {
        background-color: $rojo-sorsa-01;
        color: #fff;
        width: 79px;
      }
      .wpcf7-spinner {
        display: none;
      }
    }
  }
}

body.active-search {
  overflow: hidden;
  #modal-buscador {
    background-color: rgba($color: #000000, $alpha: 0.75);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  #navbar {
    #top-header {
      + .others-option {
        display: flex !important;
        position: fixed;
        z-index: 1010;

        top: 25vh;
        left: 0;
        right: 0;
        justify-content: center !important;

        .option-item {
          margin-right: 0 !important;
          background-color: white;
          padding: 20px 45px;
          border-radius: 6px;
          form.searchbox {
            display: block !important;
          }
        }
      }
    }
  }
}
