body {
  &.page-slug-home {
    #navbar {
      background-color: $gris-sorsa-02;
      .sticky {
        background-color: $gris-sorsa-02;
      }
    }
  }
  &.woo-slug-shop,
  &.woo-slug-product-category {
    top: 0 !important;
  }
}
// body.woocommerce-shop {
//   top: 0;
// }

#navbar {
  position: static !important;
  .navbar-brand {
    &.logo {
      width: 199px;
    }
  }
  .btn-menu {
    border: none;
    background: none;
    &__img {
      width: 30px;
    }
  }
  #menu-primary-menu {
    + .others-option {
      display: none !important;
    }
    .nav-item {
      .nav-link {
        line-height: 1.2;
        border: none;
        //
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      &.current-menu-item {
        .nav-link {
          color: $rojo-sorsa-01;
          font-weight: 800;
        }
      }
    }
  }

  // Eliminar iconos de mobile
  .navbar-brand + .others-option {
    .option-item:has(> .user-options) {
      display: none !important;
    }
  }

  @media (min-width: 992px) {
  }
}

#navbarOffcanvas {
  #menu-primary-menu-1 {
    .menu-item {
      a {
        br {
          display: none !important;
        }
        &:hover {
          color: $rojo-sorsa-01;
        }
      }
      &.current-menu-item {
        a {
          color: $rojo-sorsa-01;
          font-weight: 800;
        }
      }
    }
  }

  .logo {
    img {
      width: 245px;
    }
  }
}
