#navbar {
  background-color: $gris-sorsa-02;
  position: static !important;
  .navbar-brand {
    &.logo {
      width: 199px;
    }
  }
  .btn-menu {
    border: none;
    background: none;
    &__img {
      width: 30px;
    }
  }
  #menu-primary-menu {
    + .others-option {
      display: none !important;
    }
    .nav-item {
      .nav-link {
        line-height: 1.2;
        border: none;
      }
      &.current-menu-item {
        .nav-link {
          color: $rojo-sorsa-01;
          font-weight: 800;
        }
      }
    }
  }

  // Eliminar iconos de mobile
  .navbar-brand + .others-option {
    .option-item:has(> .user-options) {
      display: none !important;
    }
  }

  @media (min-width: 992px) {
  }
}
