#agenda-tu-cita {
  #reserva {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.loader {
      .reserva-form {
        opacity: 0.25;
        pointer-events: none;
      }
      .reserva-image-loader {
        display: block;
        // width: 60px;
      }
    }
    .reserva-form {
      width: 100%;
    }
    .reserva-image-loader {
      display: none;
      position: absolute;
    }
    .flatpickr-input {
      background-color: #fff;
      // &[disabled="false"] {
      //   background-color: #fff;
      // }
      &:disabled {
        background-color: #e9ecef;
      }
    }

    select {
      height: 38px;
      font-size: 14px;
      &:focus {
        border-color: $rojo-sorsa-03;
      }
    }
  }

  #form-reserva {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.loader {
      > .wpcf7 {
        opacity: 0.25;
        pointer-events: none;
      }
      .reserva-image-loader {
        display: block;
      }
    }
    .reserva-image-loader {
      display: none;
      position: absolute;
    }
  }

  // Aqui va lo del formulario
  .formulario-agenda {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 30px;

    &.active {
      pointer-events: all;
      opacity: 1;
      user-select: auto;
    }

    &__title {
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      line-height: 1.2;
    }

    br {
      display: none !important;
    }

    & > p {
      margin-bottom: 2px;
    }
    .wpcf7-form-control {
      padding-left: 15px;
    }

    input[type="submit"] {
      background-color: $amarillo-sorsa;
      border-color: $amarillo-sorsa;
      color: white;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      height: 41px;
      font-size: 15px;
      padding-block: 6px;
    }
    label {
      font-size: 15px;
    }
    textarea {
      height: 150px;
      font-size: 15px;
    }
  }
  // Resumen
  .resume {
    .ea-label {
      text-align: left;
    }
    .value {
      text-align: left;
    }
    table {
      border-bottom: 1px solid rgb(222, 226, 230);
    }
  }

  // .btn-send-form-reserva {
  //   background-color: $amarillo-sorsa;
  //   border-color: $amarillo-sorsa;
  //   color: #fff;
  //   border: none;
  //   width: 100%;
  //   padding-block: 7px;
  // }

  // @media (min-width: 992px) {
  //   margin-top: 80px;
  // }
}

.no-validate {
  pointer-events: none !important;
  user-select: none !important;
  opacity: 0.5 !important;
}

.btn-send-form-reserva {
  background-color: $rojo-sorsa-03;
  border-color: $rojo-sorsa-03;
  color: #fff;
  border: none;
  width: 100%;
  padding-block: 7px;
  display: block;
  text-align: center;
}

#content-data-horas {
  button {
    &.btn-primary {
      background-color: $rojo-sorsa-03;
      color: #fff;
    }
    &:hover {
      background-color: $rojo-sorsa-03;
      opacity: 0.75;
      color: #fff;
    }
  }
}
