[id*="home-"] {
  &.home-hero-slide {
    $p: "home-hero-slide";
    .#{$p}__carrousel {
      .swiper-slide-image {
        $height-navbar: 133.05px;
        // height: 686px;
        height: calc(100vh + -#{$height-navbar});
        width: 100%;
        object-fit: cover;
        @media (max-width: 1399px) {
          // height: 586px;
          min-height: 486px;
        }
        @media (max-width: 1199px) {
          height: 516px;
        }
        @media (max-width: 991px) {
          height: 400px;
          min-height: 100%;
        }
        @media (max-width: 767px) {
          object-position: -90px 0px;
        }
      }

      .elementor-image-carousel-wrapper {
        padding-bottom: 0;
      }

      .swiper-pagination {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        padding-bottom: 30px;
      }
      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: $rojo-sorsa-02;
        // opacity: .85;
        &-active {
          // color: $rojo-sorsa-02;
          // opacity: 1;
        }
      }
    }

    //
    .#{$p}__slides {
      // .swiper-slide-image {
      .swiper-slide {
        $height-navbar: 133.05px;
        // height: 686px;
        height: calc(100vh + -#{$height-navbar});
        width: 100%;
        object-fit: cover;
        @media (max-width: 1399px) {
          // height: 586px;
          min-height: 486px;
        }
        @media (max-width: 1199px) {
          height: 516px;
        }
        @media (max-width: 991px) {
          height: 400px;
          min-height: 100%;
        }
        @media (max-width: 767px) {
          object-position: -90px 0px;
        }
      }

      .swiper-slide-contents {
        @media (max-width: 767px) {
          max-width: 100%;
        }
      }

      .elementor-image-carousel-wrapper {
        padding-bottom: 0;
      }

      .swiper-slide-inner:has(.home-hero-slide-1) {
        .swiper-slide-contents {
          @media (max-width: 767px) {
            margin-bottom: 35px;
          }
        }

        @media (max-width: 767px) {
          align-items: end;
        }
      }

      .home-hero-slide-1 {
        @media (min-width: 992px) {
          // position: absolute;
          // bottom: 95px;
          left: 15vh;
          // z-index: 9;
        }
        @media (min-width: 768px) {
          position: absolute;
          bottom: 95px;
          left: 10vh;
          z-index: 9;
        }
        //
        @media (max-width: 1399px) {
          bottom: 65px;
        }
        @media (max-width: 1199px) {
          bottom: 75px;
        }
      }
      //
      .btn-hero {
        background-color: #000;
        color: #fff;
        font-size: 18px;
        padding-block: 18px;
        padding-inline: 30px;
        border-radius: inherit;
        &:hover {
          background-color: rgba(0, 0, 0, 0.85);
        }

        @media (max-width: 1199px) {
          font-size: 14px;
          padding-block: 14px;
          padding-inline: 18px;
        }
      }

      // Bullets
      .swiper-pagination {
        padding-bottom: 30px;
      }
      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: $rojo-sorsa-02;
        &-active {
          // color: $rojo-sorsa-02;
          // opacity: 1;
        }
      }
    }
  }

  &.home-hero {
    img.swiper-slide-image {
      @media (max-width: 767px) {
        height: 300px;
        object-fit: cover;
        object-position: calc(100% + 30px) 0px;
      }
    }

    .hero-cta {
      bottom: 40px;
      right: 20px !important;
      img {
        // max-width: 368px;
        max-width: 168px;
        transition: all 0.25s;
        &:hover {
          opacity: 0.75;
        }
        @media (min-width: 768px) {
          max-width: 268px;
        }
        @media (min-width: 1200px) {
          max-width: 368px;
        }
        @media (min-width: 1400px) {
          max-width: 468px;
        }
      }
      // @media (min-width: 992px) {
      // }
      @media (min-width: 768px) {
        bottom: 50px;
        right: 90px !important;
      }
      @media (min-width: 992px) {
        bottom: 90px;
      }
    }
  }
  //
  // &.home-soluciones {
  &.home-soluciones {
    $p: "home-soluciones";
    .#{$p}__content {
      .elementor-container {
      }

      .elementor-column {
        @media (max-width: 991px) {
          width: 100%;
        }
      }
    }

    .card-soluciones {
      & > .elementor-widget-wrap {
      }

      &__img {
        img {
          width: 100%;
        }
      }

      &__content {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px) !important;
        padding-inline: 15px;
        padding-bottom: 20px;
        @media (min-width: 1200px) {
          padding-inline: 20px;
          padding-bottom: 50px;
        }
      }
      &__title {
        .elementor-heading-title {
          background-color: $rojo-sorsa-01;
          color: #fff;
          font-size: 20px;
          display: inline-block;
          padding: 4px 5px;
          font-size: 16px;
          @media (min-width: 1200px) {
            padding: 4px 10px;
            font-size: 18px;
          }
        }
      }
      &__txt {
        color: white;
        margin-top: 7.5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
        line-height: 1.2;

        min-height: 38px;

        @media (min-width: 1200px) {
          min-height: initial;
          line-height: unset;
        }
      }
      // card-soluciones__content
    }
  }

  &.home-tracking {
    $p: "home-tracking";
    .#{$p}__image {
      img {
        height: 412px;
        object-fit: cover;
        @media (min-width: 768px) {
          height: 612px;
        }
        @media (min-width: 992px) {
          height: initial;
        }
        @media (min-width: 1400px) {
          height: initial;
          max-height: 623px;
          object-position: top right;
        }
      }
    }
    .#{$p}__content {
      position: absolute;
      width: 100%;
      height: 100%;
      .elementor-container {
        height: 100%;
      }
      .elementor-column {
        @media (min-width: 992px) {
          align-items: center;
        }
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        padding-block: 30px;
      }
    }
  }

  &.home-promo {
    $p: "home-promo";
    .#{$p}__content {
    }
    .content-modelos {
      display: flex;
      align-items: center;
      margin-top: 5px;
      flex-wrap: wrap;
      &__title {
        font-family: "Rajdhani", serif;
        font-weight: 700;
        font-style: normal;

        width: 100%;
        flex: 0 0 auto;
        font-size: 24px;
        margin-bottom: 0;
        @media (min-width: 768px) {
          width: 120px;
        }
      }
      &:nth-of-type(1) {
        margin-top: 0;
      }

      @media (min-width: 768px) {
        flex-wrap: nowrap;
      }
    }
    .modelos-list {
      display: flex;
      gap: 5px;

      &__item {
        flex: 0 0 50%;
        img {
          @media (min-width: 992px) {
            height: 180px;
            object-fit: cover;
          }
        }
      }
    }
  }

  &.home-vendidos {
    $p: "home-vendidos";

    .list-mas-vendidos {
      display: flex;
      padding-left: 0;
      list-style: none;
      gap: 15px;
      margin-bottom: 0;
      flex-wrap: wrap;
      @media (min-width: 992px) {
        flex-wrap: nowrap;
      }
    }
    .card-mas-vendidos {
      flex: 0 0 auto;
      // width: calc(50% + -8px);
      // width: calc(100% - 150px);
      width: calc(100% - 95px);
      padding: 12px;
      transition: all 0.25s;
      border: 1px solid transparent;
      &__figure {
        // height: 100px;
        display: flex;
        align-items: center;
        //
        @media (min-width: 768px) {
          // height: 200px;
          height: 170px;
        }
      }
      &__img {
        width: auto;
      }
      &__category {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $rojo-sorsa-01;
        font-size: 18px;
      }
      &__title {
        margin-bottom: 0;
        text-transform: uppercase;
        color: #000;

        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        font-size: 16px;
      }
      &:hover {
        // outline: 1px solid black;
        border-color: $rojo-sorsa-02;
      }
      @media (min-width: 768px) {
        padding: 30px;
        width: calc(100% + -60px);
      }

      @media (min-width: 992px) {
        flex: 1 0 0%;
        width: 100%;
      }
    }
  }

  &.home-comunidad {
    $p: "home-comunidad";
    .blog-wrap {
      padding-top: 0;
      padding-bottom: 0;
      background: transparent;
    }
    .row.mb-50 {
      margin-bottom: 0;
    }

    .blog-card {
      .blog-metainfo {
        display: none;
      }
      .blog-info {
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
        }
      }
    }
  }

  &.home-iconos {
    .elementor-widget-container:has(> img) {
      height: 163px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 992px) {
        height: 203px;
      }
    }
    img {
      width: auto;
      height: calc(100% - 50px);
    }

    .elementor-container:has(.card-icon) {
      @media (min-width: 992px) {
        flex-wrap: nowrap;
      }
    }
    .card-icon {
      width: 50%;
      @media (min-width: 992px) {
        width: 100%;
      }
    }
  }
  // .home-tracking__content {
  // }
  // home-tracking__content
}

#home-comunidad-motera {
  :not(:has(.blog-card)) {
    .noticias-disponibles {
      display: block !important;
    }
  }
}
