[id*="repuestos-"] {
  &.repuestos-hero {
    $p: "repuestos-motto";
  }

  &.repuestos-motto {
    $p: "repuestos-motto";
    background-color: $negro-sorsa-02;
  }

  &.repuestos-reserva {
    $p: "repuestos-reserva";
  }

  &.repuestos-cintillo {
    $p: "repuestos-cintillo";
    .#{$p}__img {
      a {
        display: block;
      }
      img {
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        object-fit: cover;
        margin-left: -30px;
        @media (min-width: 768px) {
          margin-left: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

// Ocultar Hero por defecto de la pagina
.breadcrumb-wrap {
  display: none !important;
}
// Quitar padding del wrapper de la pagina
.page-wrapper {
  > .page-main-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
